<app-header [mainMenu]="false" [prevLink]="'/'"></app-header>

<h1 class="mb-0">{{ slug }}</h1>

<div class="row">
  <div class="col-12">
    <div class="card shadow-sm mb-3">
      <div class="row g-0">
        <div class="col-4">
          <div class="p-2">
            <img
              src="assets/image/klinik.png"
              alt="foto klinik"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-8">
          <div class="card-body p-1">
            <h3 class="mb-0" style="font-weight: 500">Dr. Suryadinata</h3>
            <p class="mb-1">Dokter Umum - Jadwal Praktik Pagi dan sore.</p>
            <p class="card-text mb-0">
              <small class="text-muted">Alamat: Jajag - Kec. Gambiran</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card shadow-sm mb-3">
      <div class="row g-0">
        <div class="col-4">
          <div class="p-2">
            <img
              src="assets/image/klinik.png"
              alt="foto klinik"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-8">
          <div class="card-body p-1">
            <h3 class="mb-0" style="font-weight: 500">
              Dr. Suryadinata Permana
            </h3>
            <p class="mb-1">Dokter Umum - Jadwal Praktik Pagi dan sore.</p>
            <p class="card-text mb-0">
              <small class="text-muted">Alamat: Jajag - Kec. Gambiran</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
