<header class="fixed-top header" *ngIf="mainMenu">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between align-items-center">
      <span></span>
      <span class="text-uppercase">{{ title }}</span>
      <button
        *ngIf="!full"
        (click)="openFullscreen()"
        mat-icon-button
        aria-label="Example icon-button with full screen icon"
      >
        <mat-icon class="width-icon">fullscreen</mat-icon>
      </button>
      <span *ngIf="full"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
