<app-header
  [mainMenu]="false"
  [title]="'Dr. Suryadinata'"
  [prevLink]="'/category/kesehatan'"
></app-header>

<div class="d-flex justify-content-center py-3">
  <img
    src="assets/image/klinik.png"
    alt="foto tempat praktik"
    class="img-fluid"
  />
</div>

<p class="text-center">Kuota hari ini 10 orang, Sudah ada 6 orang mengantri.</p>
<p><b>Alamat:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<p><b>Waktu Layanan: </b> Pukul 06:00 - 07:00 WIB</p>
<p><b>Estimasi</b> Waktu layanan sekitar 15 Menit/ Orang</p>
<p>
  <b>Persyaratan:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
</p>
<p>
  <b>Pengumuman:</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Dolores quod repellat voluptatem? Magni, quo quasi. Fuga consectetur adipisci
  assumenda minus optio numquam nesciunt.
</p>

<div class="d-flex justify-content-between py-4">
  <a mat-flat-button color="primary" class="rounded-pill"> Antri Sekarang </a>
  <a
    mat-stroked-button
    color="warn"
    class="rounded-pill"
    routerLink="/pilih-jadwal/id_loket"
  >
    Antri Hari Lain</a
  >
</div>
