<app-header></app-header>

<mat-tab-group mat-stretch-tabs [backgroundColor]="'primary'">
  <mat-tab label="Aktif">
    <div
      class="card card-body shadow-sm"
      style="border-top: none; border-radius: 0; min-height: 400px"
    >
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="m-0">Dr. Suryadinata</h3>
          <p class="m-0"><b>Pukul:</b> 06:00 - 07:00 WIB</p>
          <p class="m-0">
            <b>Alamat:</b> Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
          </p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="m-0">Dr. Suryadinata</h3>
          <p class="m-0"><b>Pukul:</b> 06:00 - 07:00 WIB</p>
          <p class="m-0">
            <b>Alamat:</b> Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
          </p>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Selesai">
    <div
      class="card card-body"
      style="border-top: none; border-radius: 0; min-height: 400px"
    >
      <h3>Tidak ada antrian</h3>
    </div>
  </mat-tab>
</mat-tab-group>

<app-footer></app-footer>
