<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Ngantri Aja</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with arrow-back icon"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Kesehatan</span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
