<app-header
  [mainMenu]="false"
  [title]="'Pilih Jadwal'"
  [prevLink]="'/detail/AuGp2Mzh2oYBBBXRBtff'"
></app-header>

<div class="d-flex justify-content-center py-3">
  <img
    src="assets/image/klinik.png"
    alt="foto tempat praktik"
    class="img-fluid"
  />
</div>
<h2 class="mb-2">Dr. Suryadinata</h2>
<p class="m-0"><b>Waktu Layanan: </b> Pukul 06:00 - 07:00 WIB</p>
<p class="m-0">
  <b>Alamat: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
</p>

<hr />

<p>Pilih tanggal:</p>
<div style="overflow-x: scroll; overflow-y: hidden">
  <div class="d-flex">
    <div
      class="rounded-circle border border-primary p-3"
      style="width: 50px; height: 50px; margin-right: 10px"
      *ngFor="let tanggal of rangeTanggal; let i = index"
    >
      <div
        style="
          line-height: 1;
          width: 30px;
          margin-top: -5px;
          margin-left: -5px;
          text-align: center;
        "
      >
        {{ tanggal }} {{ rangeBulan[i] }}
      </div>
    </div>
  </div>
</div>

<div class="py-3">
  <h3>Kamu dapat antrian no 6 pada hari yang kamu pilih</h3>
</div>

<div class="fixed-bottom p-3">
  <button
    routerLink="/my-queue"
    mat-flat-button
    color="primary"
    class="button-large full-width align-middle"
  >
    Ambil Antrian
  </button>
</div>
