<app-header [title]="dataMitra.data.nama_mitra" *ngIf="dataMitra"></app-header>

<div class="mt-5">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Haloo Pengunjung...</h1>
      <p class="lead text-center">
        Tekan kolom loket dibawah ini untuk ambil antrian. <br />
        Sesuaikan dengan loket yang kamu inginkan yaa...
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 my-5" *ngFor="let loket of dataLoket">
    <app-loket [dataLoket]="loket" [dataMitra]="dataMitra"></app-loket>
  </div>
</div>

<!-- <div>
  <button mat-button mat-stroked-button color="warn" (click)="logout()">
    LOGOUT
  </button>
</div> -->
