/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top {
  margin-top: -50px;
}

.full-width {
  width: 100%;
}

.button-large {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
